<section id="bio">
  <h2>Biography</h2>

  <p>
    I am both a researcher and a practitioner. Throughout my career I have worked for or collaborated with several institutions.
  </p>

  <ul>
    <li><strong>Universities:</strong>
      <b><a href="https://www.sgh.waw.pl/" target="_blank">Warsaw School of Economics (SGH) (alma mater)</a></b>,
      <a href="https://www.pw.edu.pl/" target="_blank">Warsaw University of Technology</a>,
      <a href="https://www.uw.edu.pl/" target="_blank">University of Warsaw</a>,
      <a href="https://www.ttu.edu/" target="_blank">Texas Tech University</a>,
      <a href="https://www.virginia.edu/" target="_blank">University of Virginia</a>
    </li>

    <li><strong>NGOs:</strong>
      <a href="https://www.sh.org.pl/" target="_blank">Stowarzyszenie Harcerskie</a>,
      <a href="https://www.mamprawowiedziec.pl/" target="_blank">Stowarzyszenie 61</a>,
      <a href="https://sanjosedelamazonas.org//" target="_blank">Vicariato San Jose del Amazonas (Peru)</a>
    </li>

    <li><strong>Banks:</strong>
      <a href="https://www.pkobp.pl/" target="_blank">PKO Bank Polski</a>
    </li>

    <li><strong>Telecommunications & R&D:</strong>
      <a href="https://www.orange.pl/" target="_blank">Telekomunikacja Polska S.A. (Orange)</a>,
      <a href="https://www.orange.com/en" target="_blank">France Telecom R&D</a>
    </li>

    <li><strong>Government:</strong>
      <a href="https://www.afrl.af.mil/" target="_blank">U.S. Air Force Research Laboratory</a>
    </li>
  </ul>

<!--
  <hr>
-->

  <h3>Research focus</h3>
  <p>
    My work focuses on developing and applying advanced computing — distributed systems, Big Data and AI —
    to both science and practical applications. Earlier in my career, via the employment at TP S.A. and then
    during my Fulbright scholarship at Texas Tech University, I had been involved in working with engineers
    and computer scientists developing modeling environments that integrate engineering tools and applications.
    As part of these activities, I contributed to the development of the <a href="http://sorcersoft.org/" target="_blank">SORCER project</a>.
  </p>

  <p>
    Since 2018 I have focused on computational methods for structural biology, in particular, on applying distributed computing
    and Big Data technologies to structural bioinformatics and the exploration of non-trivial protein topologies.
    I collaborate with <a href="https://jsulkowska.cent.uw.edu.pl/" target="_blank">Joanna Sulkowska’s Lab</a> at the University of Warsaw
    and <a href="https://minorlab.org/" target="_blank">Wladek Minor Laboratory</a> at the University of Virginia.
  </p>

  <p>In my free time I love to travel and explore the world. I realize this often in collaboration with:
    <a href="https://advfactory.com" target="_blank">ADVFactory.com</a> (Krzysztof Samborski) and <a href="https://przygody4x4.pl/" target="_blank">Przygody4x4</a>
  </p>

  <h3>Education</h3>
  <ul>
    <li><b>Ph.D. in Computer Science (Distributed Computing)</b>, Warsaw University of Technology, 2010. Dissertation: <i>
      <a href="{{ '/assets/data/PhD_Rubach.pdf' | relative_url }}" target="_blank">Optimal Resource Allocation in Federated Metacomputing Environments”</a>
    </i>. Formal supervisor: Prof. Kazimierz Subieta. Actual supervisor: <a href="http://sorcersoft.org/sobol/">Prof. Michael Sobolewski</a></li>
    <li><b>Master of Science</b>, Warsaw School of Economics (SGH), Quantitative Methods & Information Systems, 2003. Thesis: <i>
      <a href="{{ '/assets/data/MSc_Rubach.pdf' | relative_url }}" target="_blank">Komputerowe metody testowania wiedzy</a>
      (Computerized Methods for Knowledge Testing)</i>. Supervisor: Dr. Anna Rokicka-Broniatowska.</li>
    <li><b>Specialization in Business Informatics</b>, SGH.</li>
    <li><b>Postgraduate Pedagogical Studies</b>, SGH.</li>
  </ul>

  <h3>Employment / Academic Positions</h3>
  <ul>
    <li><b>Assistant Professor</b>, SGH, Institute of Information Systems and Digital Economy (from 2003), 2003–2011 as Assistant.</li>
    <li><b>Collaborator</b>, Laboratory of Modeling of Biological Systems, Center for New Technologies, University of Warsaw (from 2018).</li>
    <li><b>Postdoctoral Research Associate</b>, University of Virginia, Charlottesville, USA (May 2024 – June 2025).</li>
    <li><b>Fulbright Visiting Scholar</b>, Texas Tech University, Lubbock, Texas, USA (Aug 2008 – May 2009).</li>
  </ul>

  <div class="spoken-languages">
    <h3>Spoken Languages</h3>
    <p>
      🇵🇱 Polish &nbsp;•&nbsp;
      🇬🇧 English &nbsp;•&nbsp;
      🇪🇸 Spanish &nbsp;•&nbsp;
      🇫🇷 French &nbsp;•&nbsp;
      🇩🇪 German &nbsp;•&nbsp;
      🇷🇺 Russian &nbsp;•&nbsp;
      🇮🇹 Italian &nbsp;•&nbsp;
      🇵🇹 Portuguese
    </p>
  </div>

</section>