<header style="background-image:url('{{ '/assets/images/background.jpg' | relative_url }}');">
  <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Profile Photo">
  <h1>Pawel Rubach Ph.D.</h1>
  <h2>Researcher | Computer Science | Structural Bioinformatics | AI & Data Systems</h2>
</header>

<nav>
  <a href="{{ '/' | relative_url }}#hero">Home</a>
  <a href="{{ '/' | relative_url }}#bio">About</a>
  <a href="{{ '/' | relative_url }}#publications">Publications</a>
  <a href="{{ '/' | relative_url }}#projects">Research Projects</a>
  <a href="{{ '/' | relative_url }}#teaching">Teaching</a>
  <a href="{{ '/students/' | relative_url }}">Students' Diploma Thesis</a>
  <a href="{{ '/' | relative_url }}#contact">Contact</a>
</nav>
