<header style="background-image:url('{{ '/assets/images/background.jpg' | relative_url }}');">
  <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Profile Photo">
  <h1>Paweł Rubach Ph.D.</h1>
  <h2>Researcher | Computer Science | Structural Bioinformatics | AI & Data Systems</h2>
 {% include contact_icons.html %}
</header>

<nav>
  <a href="{{ '/' | relative_url }}#bio">Home</a>
  <a href="{{ '/' | relative_url }}#projects">Research Projects</a>
  <a href="{{ '/' | relative_url }}#links">Links</a>
  <a href="{{ '/' | relative_url }}#publications">Publications</a>
  <a href="{{ '/conferences/' | relative_url }}">Conferences</a>
  <a href="{{ '/' | relative_url }}#teaching">Teaching</a>
  <a href="{{ '/students/' | relative_url }}">Supervisor</a>
</nav>
