<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<!--  <header>-->
<!--    <nav>-->
<!--      <a href="{{ '/' | relative_url }}">Home</a> |-->
<!--      <a href="{{ '/students/' | relative_url }}">Students</a>-->
<!--      &lt;!&ndash; add other links &ndash;&gt;-->
<!--    </nav>-->
<!--  </header>-->

  {% include header.html %} <!-- Reuse main page header/nav -->

  <main style="padding: 2rem;">
    {{ content }}
  </main>

  <footer>
    <p>© {{ site.time | date: '%Y' }} Pawel Rubach</p>
  </footer>
</body>
</html>
