name: Update ORCID Publications

on:
  workflow_dispatch:
  schedule:
    - cron: "10 13 * * 4"

jobs:
  update-publications:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install pyyaml requests

      - name: Run ORCID updater
        run: python fetch_full_orcid.py

      - name: Commit and push results
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update publications from ORCID
          commit_user_name: GitHub Actions
          commit_user_email: actions@github.com
          #file_pattern: 'assets/data/pawelrubach.bib'

      - name: "Run if changes have been detected"
        if: steps.auto-commit-action.outputs.changes_detected == 'true'
        run: echo "Changes!"

      - name: "Run if no changes have been detected"
        if: steps.auto-commit-action.outputs.changes_detected == 'false'
        run: echo "No Changes!"
